<p>
  login works!
</p>
<div *ngIf="afAuth.authState | async; let user; else showLogin">
    <h1>Hello {{ user.displayName }}!</h1>
    <button (click)="logout()">Logout</button>
</div>
<ng-template #showLogin>
    <p>Please login.</p>
    <button (click)="loginWithGoogle()">Login with Google</button>
    <button (click)="loginWithFacebook()">Login with facebook</button>
    <button (click)="loginWithEmail()">Login with email</button>
</ng-template>


<mat-card class="login-card">
    <mat-card-content>
        <button mat-raised-button color="primary" (click)="loginWithFacebook()">
            <i class="fa fa-facebook" aria-hidden="true"></i>Login With Facebook
        </button>
        <button mat-raised-button color="primary" (click)="loginWithGoogle()">
            <i class="fa fa-google" aria-hidden="true"></i>Login With Google
        </button>
        <button mat-raised-button color="primary" routerLink="/login-email">
            <i class="fa fa-envelope-o" aria-hidden="true"></i>Email
        </button>
        <a mat-button routerLink="/signup" routerLinkActive="active">No account? <strong>Create one here</strong></a>
    </mat-card-content>
</mat-card>

