<mat-card class="signup-card">
    <mat-card-content>
        <a mat-button routerLink="/login" routerLinkActive="active">Go Back</a>
        <h2>Join now</h2>

        <span class="error" *ngIf="error">{{ error }}</span>
        <form [formGroup]="rForm" (ngSubmit)="onSubmit(rForm.value)">
            <mat-form-field>
                <input matInput placeholder="Enter your email" formControlName="email" required>
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'">
            </mat-form-field>

            <button mat-raised-button color="primary" type="submit">Create my account</button>
        </form>
    </mat-card-content>
</mat-card>
